<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>千锋大挖宝</title>
<link rel="stylesheet" href="css/app.css">
<style>
#play_top{ width:100%; height:45px; background:white; position:absolute; top:0; overflow:hidden; font-size:12px; position:relative;}
#play_top ul{ height:100%; position:absolute;}
#play_top li{ height:100%; line-height:45px;}
#play_top span{ padding-left:20px;}
#play_bottom{ width:100%; height:45px; background:#e4e4e4; position:absolute; bottom:0; font-size:12px; line-height:45px; text-align:center;}
#play_list{ width:100%; position:absolute; top:45px; bottom:45px;}
#play_list ul{ width:100%; height:100%; position:relative;}
#play_list li{ position:absolute;  border-radius:2px; }
#play_list li.noSel{ background:#ccc;}
#play_list li.sel{ background:blue;}
</style>
<script src="js/jquery-2.1.3.min.js"></script>
</head>

<body>
<div id="play_top">
	<ul>
		<li>
			<span>微信号:111</span>
			<span>50分钟前</span>
			<span>获得500元课程优惠券</span>
		</li>
		<li>
			<span>微信号:222</span>
			<span>50分钟前</span>
			<span>获得500元课程优惠券</span>
		</li>
		<li>
			<span>微信号:333</span>
			<span>50分钟前</span>
			<span>获得500元课程优惠券</span>
		</li>
		<li>
			<span>微信号:444</span>
			<span>50分钟前</span>
			<span>获得500元课程优惠券</span>
		</li>
		<li>
			<span>微信号:111</span>
			<span>50分钟前</span>
			<span>获得500元课程优惠券</span>
		</li>
	</ul>
</div>
<div id="play_list">
	<ul>
	</ul>
</div>
<div id="play_bottom">
	价值8800元HTML5课程，两周免费试听
</div>
<script>

var $infoUl = $('#play_top').find('ul');
var topHeight = $('#play_top').height();
var i = 0;
var len = $infoUl.find('li').length;

var $listUl = $('#play_list').find('ul');

function infoScroll(){

	if(i == len-1){
		$infoUl.css('top' , 0);
		i = 0;
	}

	setTimeout(function(){
	
		i++;
		$infoUl.animate({ top : - i * topHeight },500,function(){
			infoScroll();		
		});
	
	},3000);
}

infoScroll();


function getWinning(){
	
	return $.ajax({
		url : 'api/winning',
		dataType : 'json'
	});
}

function createMap(){

	var len = 300;
	var viewWidth = $(window).width();
	var clearanceSize = 2;
	var clearanceLen = 16;
	var cols = 15;
	var w = (viewWidth - clearanceLen * clearanceSize)/cols;
	
	for(var i=0;i<len;i++){
		var x = i%cols;
		var y = Math.floor(i/cols);
		var $li = $('<li class="noSel"></li>');
		$li.css({
			width : w,
			height : w,
			left : x * w + (x+1)*clearanceSize,
			top : y * w + (y+1)*clearanceSize
		});
		$listUl.append($li);
	}
}
createMap();

function bindMap(){
	$listUl.delegate('.noSel','touchstart',function(){
		
		var This = this;
		
		getWinning().then(function(data){
			if(data.code === 0){
				console.log(data.message);
				$(This).attr('class','sel');
			}
		});
		
	});
}

bindMap();
</script>
</body>
</html>
