<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>千锋大挖宝</title>
<link rel="stylesheet" href="css/app.css">
<style>
html{ width:100%; height:100%;}
body{ width:100%; height:100%;}
#info_box{ border:1px #aeaeae solid; position:absolute; top:20px; bottom:20px; left:20px; right:20px;}
#info_box div{}
#info_box h2{ font-size:18px; text-align:center; margin:20px 0;}
#info_box li{ font-size:12px; margin-bottom:10px; padding:0 10px; line-height:16px;}
</style>
</head>

<body>
<div id="info_box">
	<div>
		<h2>游戏规则</h2>
		<ul>
			<li>1.游戏开始后，随机点击屏幕方块</li>
			<li>2.每名玩家拥有两次挖宝机会，奖品包括现在在内共计7中</li>
			<li>3.机会用完可分享到朋友圈，获得一次挖宝机会</li>
			<li>4.机会用完可邀请好友，成功邀请一位可获得一次挖宝机会</li>
			<li>5.现金奖品可提现，其他奖项咨询千锋公众号</li>
		</ul>
	</div>
	<div>
		<h2>奖品设置</h2>
		<ul>
			<li>一、1000元HTML5课程优惠券</li>
			<li>二、500元课程优惠券</li>
			<li>三、518元现金红包</li>
			<li>四、5元现金红包</li>
			<li>五、千锋定制电脑背包</li>
			<li>六、价值50元自拍杆</li>
			<li>七、价值50元大容量U盘</li>
			<li>八、价值价值10元鼓励笔</li>
		</ul>
	</div>
</div>
</body>
</html>
